---
// src/layouts/Layout.astro
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Academia Math - Clases de refuerzo escolar" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=montserrat:400,600,700,900&display=swap" rel="stylesheet" />
        
		<title>{title}</title>
	</head>
	<body class="antialiased font-montserrat m-0 p-0 bg-gray-50">
		<slot />
	</body>
</html>

<style is:global>
    /* Por si acaso necesitas estilos globales extra */
    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>